@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");



.card{

 border: none;
 background-color: none;
}

.card-header {
     padding: .5rem 1rem;
     margin-bottom: 0;
     background-color: rgba(0,0,0,.03);
     border-bottom: none;
 }

 .btn-light:focus {
     color: #212529;
     background-color: #e2e6ea;
     border-color: #dae0e5;
     box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
 }

 .form-control{

   height: 50px;
border: 2px solid #eee;
border-radius: 6px;
font-size: 14px;
 }

 .form-control:focus {
color: #495057;
background-color: #fff;
border-color: #039be5;
outline: 0;
box-shadow: none;

}

.input{

position: relative;
}

.input i{

   position: absolute;
top: 16px;
left: 11px;
color: #989898;
}

.input input{

text-indent: 25px;
}

.card-text{

font-size: 13px;
margin-left: 6px;
}

.certificate-text{

font-size: 12px;
}


.billing{
font-size: 11px;
}  

.super-price{

   top: 0px;
font-size: 22px;
}

.super-month{

   font-size: 11px;
}


.line{
color: #bfbdbd;
}

.free-button{

   background: #1565c0;
height: 52px;
font-size: 15px;
border-radius: 8px;
}


.payment-card-body{

flex: 1 1 auto;
padding: 24px 1rem !important;

}
     
        #bottomDiv {
            position: absolute;
            width: 800px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            background: #fff;
            padding: 20px;
            margin-top: 30px;
            margin-left: 380px;
            height: 650px;
            
      
        }
        .payment-btn {
            width: 100%;
            background: #77b122;
            border: none;
            padding: 10px;
            font-size: 18px;
            color: #fff;
            border-radius: 5px;
            transition: 0.3s;
        }
        .payment-btn:hover {
            background-color: #62911c;
            transform: scale(1.05);
        }

        .radio-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #f8f9fa;
            
        }
        .radio-group label {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            padding-left: 14px;
            margin-top: 5px;
        }
        .radio-group input[type="radio"] {
            accent-color: #77b122;
            width: 15px;
            height: 15px;
            margin-top: 4px;
        }
        #cod
        {
            background-color: #f8f9fa;
            


        }
        
        body
        {
            background-color: #f8f9fa;
        }
        .summary
        {
          width: 300px;
          border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        #phoneno
        {
            border: 1px solid rgb(213, 213, 213);
             border-radius: 5px; 
             padding-left: 20px;
             width: 200px;
             margin-left: 10px;
             height: 30px;
           
        }
    
        
