<!DOCTYPE html>
<html>
<head>
    <title>Farmie - Your Agricultural Support</title>
    <link rel="icon" href="static/images/img/core-img/favicon.ico">
<!-- Core Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/Upload.css') }}" type="text/css">
</head>
<body>
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="famie-main-menu" id="login_space">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="famieNav">
                        <!-- Nav Brand -->
                        <a href="#" class="nav-brand"><img
                            src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
                        
                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><li><a href="/products">View Products</a></li></li>
                                    <li><a href="{{ url_for('backfarmer') }}">Back</a></li>
                                    
                                </ul>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>
                </header>
                
                <div class="upload-product" >
                    <div class="Product-section">
                         <h1>Upload Product</h1>
                         <img src="{{ url_for('static', filename='images/img/core-img/decor2.png') }}" alt=""><br><br>
                             <form method="POST" enctype="multipart/form-data">
                            <label for="category">Category:</label>
                            <select name="category" id="category">
                            <option value="select">Select</option>
                            <option value="Fruit">Fruit</option>
                           <option value="Vegetable">Vegetable</option>
                           </select>

                          <label for="product_name">Product Name:</label>
                     <input type="text" name="product_name" id="product_name" required>

                     <label for="price">Price:</label>
                      <input type="text" name="price" id="price" required>


                     <label for="image">Product Image:</label>
                   <input type="file" name="image" id="image" required><br><br>
                   

                   <label for="description">Description:</label>
                      <textarea name="description" id="description" required></textarea><br>
      
                   <button type="submit" value="Upload Product">Upload Product</button>
              </form>
       </div>
       </div>
       <footer style="background-color: #333;color: white;padding: 10px;text-align: center;position: absolute;width: 100%;">
        <p>Contact Us: info@farmie.com | Follow us on social media!</p>
        </footer>       
              
</body>
</html>
